:root {
    --image-width: 60vw;
    --image-height: ;
}

body {
    background-color: rgb(165, 107, 31);
    background-image: url(./images/spoon.png);
    background-size: 75px;
    background-repeat: repeat;
    background-position: top left;
    display: flex;
}

.body-content {
    background-color: black;
    color: whitesmoke;
    padding: 30px;
    margin-top: 20px;
    border: solid whitesmoke 5px;
}

.contact {
    background-color: black;
    color: whitesmoke;
    padding: 30px;
    margin-top: 20px;
    border: solid whitesmoke 5px;
}

.ourContact {
    border: 1px dotted whitesmoke;
    padding: 5px;
    max-width: 584px;
    margin: 2.5rem 0 1.5rem;
}

label {
    display: block;
    padding: 2rem;
    font-size: 1.2rem;
}

input {
    display: inline;
    font-size: 1.2rem;
    background-color: whitesmoke;
}

textarea {
    font-size: 1rem;
    max-width: 95%;
    line-height: 1.6;
    background-color: whitesmoke;
}

form > button {
    font-size: 1.2rem;
}


#main-logo {
    float: left;
    display: flex;
    width: auto;
    height: 25vh;
    transition: height 0.3s;
}

.main-section {
    width: 75%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(170, 122, 64);
    border: solid rgb(75, 39, 10) 5px;
    float: right;
}

/* start of gallery */

.container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: var(--image-width);
    overflow: hidden;
}

.displayImage {
    display: flex;
    right: 0%;
    transition: right 1s;
}

.image-carousel {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: calc(50vh + 4rem);
    border: solid whitesmoke 5px;
    border-top: 0;
}

#gallery {
    display: flex;
    float:left;
    position: absolute;
    transition: left 0.7s;
}

#gallery > img {
    display: flex;
    float:left;
    background-color: black;
    width: var(--image-width);
    display: block;
    transition: left 0.7s;
    position: relative;
}

.buttonContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.leftnavButton {
    position: absolute;
    right: 80%;
}

.navButton {
    position: absolute;
    top: 50%;
    height: 3rem;
    width: 3rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    font-size: 2rem;
    align-items: center;
    color: whitesmoke;
    border: none;
}

.hudBanner {
    position: absolute;
    bottom: 0px;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hudButton {
    float: left;
    height: 2rem;
    width: 2rem;
    background: rgba(99, 97, 97, 0.7);
    border-radius: 50%;
    border: none;
}

.hudButton:hover {
    background: rgba(85, 83, 83, 0.7);
}

.hudButton:active {
    background: rgba(99, 97, 97, 0.952);
}

.activeBubble {
    background: rgba(165, 107, 31, 0.664);
}

.activeBubble:hover {
    background: rgba(165, 107, 31, 0.664);
}

.galleryHUD {
    display: flex;
    gap: 20px;
    justify-self: center;
    align-self: center;
}

.navButton:hover {
    background: rgba(0, 0, 0, 0.5);
}

.navButton:active {
    background: rgba(0, 0, 0, 0.986);
}

.rightnavButton {
    left: 80%;
}

.galleryStatus {
    position: absolute;
    left: 40%;
    display: flex;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    top: 0%;
}

/* end of gallery */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
    transition: transform 0.3s;
    overflow: hidden;
}

header:hover {
    transform: scale(0.98);
    transition: transform 0.3s;
    cursor: pointer;
}

header:active {
    transform: scale(1);
    transition: transform 0.1s;
}

.sidebar {
    float: left;
    width: 19vw;
    /* background-color: rgb(75, 39, 10); */
    overflow: visible;
}

nav {
    overflow: visible;
    position: sticky;
    top: 30%;
}
.navigation {
    border: solid rgb(75, 39, 10) 5px;
    background-color: rgb(82, 46, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    width: 90%;
    height: 4rem;
    position: relative;
    transform: scale(0.95);
    transition: transform 0.3s;
}

.navigation:hover {
    background-color: rgb(94, 53, 20);
    transition: background-color 0.45s;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;
}

.navigation:active {
    transform: scale(1);
    transition: transform 0.1s;
}

.navigation > h2 {
    position: relative;
    padding: 0;
    margin: 0;
    user-select: none;
}
/*
.navigation > h2:hover {
    font-size: 3rem;
    transition: font-size 0.3s;
}
*/
.navigation:active {
    background-color: rgb(80, 45, 17);
}

.menuItem {
    background-color: black;
    padding: 10px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuItem:hover {
    background-color: rgb(31, 30, 30);
    transition: background-color 0.3s;
    cursor: pointer;
}

.menu {
    margin-top: 20px;
    border: solid whitesmoke 5px;
    color: whitesmoke;
    background-color: black;
    padding: 5px;
    text-align: center;
}
.menu-items {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 30px 0;
}

ul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

li {
    display: flex;
    justify-content: center;
    list-style: none;
    border: solid whitesmoke 1px;
}

.item {
    width: 200px;
    height: 200px;
    border-radius: 60%;
    margin-bottom: 1rem;
}

.spacer {
    border: dashed rgb(75, 39, 10) 5px;
}

h1 {
    font-family: 'Londrina Outline', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    padding: 10px;
}

h2 {
    font-family: 'Londrina Outline', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
}

h5 {
    font-size: 1.7rem;
    margin: 1rem 0;
}

p {
    font-size: 1.2rem;
}

@media screen and (max-width: 1230px) {
    .item {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 1050px) {
    .item {
        height: 120px;
        width: 120px;
    }
}

@media screen and (max-width: 968px) {
    .item {
        height: 100px;
        width: 100px;
    }

    .menuItem {
        height: 800px;
    }
}

@media screen and (max-width: 735px) {
    h2 {
        font-size: 2rem;
    }

    .main-section {
        flex-direction: column;
    }

    .logo-text {
        margin-top: -10px;
    }

    header {
        flex-direction: column;
    }

    * {
        font-size: 0.7em;
    }

    ul {
        flex-direction: column;
    }

    .item {
        margin-top: -50px;
    }
    .menuItem {
        height: 550px;
    }

    .image-carousel {
        height: calc(30vh + 4rem);
    }
}